#root {
  width: 100%;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: left;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #109e3baa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #AF929D;
}

.searchInput {
  border: rgb(255, 255, 255) .2rem solid;
  border-radius: 8px;
  min-height: 1.6rem;
  margin-right: 2rem;
  width:15%;
}

img{
  height: 100%;
  max-width: 90%;
  vertical-align: top;
}

.divBook {
  flex: 1 1 50%;
  display: flex;
  border: solid .3rem rgba(80, 9, 9, 0.832);
  border-radius: 1rem;
  margin: 1%;
  padding: 1%;
  background-color: rgb(223, 204, 204);
  align-items: center;
  flex-wrap: wrap;
  color: #1b1b1b;
}
.divBookPurple{
  border-color: #5d6092;
  background-color: #d4cae5;
}

.divBook button{
  /* flex: 0; */
  color: rgb(246, 246, 246);
  flex: 1 0 100%;
  background-color: #b2675e;
}

.divBookPurple button{
  background-color: #5d6092;
}


.divBookLarger{
  max-width: 45%;
}

.bookListFlex{
  display: flex;
  flex-wrap: wrap;
}
.subDivBook {
  flex: 2;
  vertical-align: top;
  /* width: 60%; */
}
.subDivBookImg {
  flex: 1;
  vertical-align: top;
  /* max-width: 38%; */
  /* height: auto; */
  margin: 1%;
  /* width: 60%; */
  object-fit: cover;
}

.newLine{
  /* height: 10px; */
  margin-bottom: 2rem;
}
.leftAlign{
  float: left;
}
.rightAlign{
  float: right;
}
